[submodule "externals/benchmark"]
	path = externals/benchmark
	url = git@github.com:EricCousineau-TRI/benchmark.git
[submodule "externals/pcl"]
	path = externals/pcl
	url = http://github.com/pointcloudlibrary/pcl.git
