[submodule "externals/Super4PCS"]
	path = externals/Super4PCS
	url = https://github.com/nmellado/Super4PCS.git
	branch = master
[submodule "externals/benchmark"]
	path = externals/benchmark
	url = git@github.com:EricCousineau-TRI/benchmark.git
[submodule "externals/eigen"]
	path = externals/eigen
	url = git@github.com:EricCousineau-TRI/eigen.git
	branch = feature/possible_tri_fix
[submodule "externals/flann"]
	path = externals/flann
	url = git://github.com/mariusmuja/flann.git
	branch = master
[submodule "externals/kythe"]
	path = externals/kythe
	url = https://github.com/EricCousineau-TRI/kythe/
	branch = feature/bazel_external
[submodule "externals/pcl"]
	path = externals/pcl
	url = http://github.com/pointcloudlibrary/pcl.git
[submodule "externals/vtk"]
	path = externals/vtk
	url = git://vtk.org/VTK.git
	branch = master
