numpy == 1.24.2
torch == 2.0.0

# jupyterlab == 3.3.0
# matplotlib == 3.4.3

# einops == 0.3.0
# moviepy == 2.0.0.dev2

# tensorflow == 2.6.0
# keras == 2.6.0

# "git+https://github.com/pytorch/functorch.git"
