asttokens==2.2.1
backcall==0.2.0
contourpy==1.0.6
cycler==0.11.0
decorator==5.1.1
drake==1.11.0
executing==1.2.0
fonttools==4.38.0
ipython==8.7.0
jedi==0.18.2
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline==0.1.6
meshcat==0.3.2
numpy==1.23.5
packaging==22.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
pydot==1.4.2
Pygments==2.13.0
pyngrok==5.2.1
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
pyzmq==24.0.1
six==1.16.0
stack-data==0.6.2
tornado==6.2
traitlets==5.7.1
u-msgpack-python==2.7.2
wcwidth==0.2.5
