matplotlib == 3.3.4  # 3.4.x doesn't support Python 3.6
numpy == 1.19.5  # 1.20.x doesn't support Python 3.6
pandas == 1.1.5  # 1.2.x doesn't support Python 3.6
torch == 1.8.1

jupyterlab == 3.0.12
# TODO(eric, andres): Remove this once the following issue is resolved:
# https://github.com/ipython/ipython/issues/12740
jedi == 0.17.2
